<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title> About me </title>

  {{ if .GlobalCSSPath }}
  <link rel="stylesheet" href="{{ .GlobalCSSPath }}" />
  {{ end }}
  {{ if .PageCSSPath }}
  <link rel="stylesheet" href="{{ .PageCSSPath }}" />
  {{ end }}

</head>
<body>
  <section class="">
      <h1> About </h1>
  </section>
  <!-- HTMX -->
  {{ if .HTMXPath }}
  <script src="{{ .HTMXPath }}"></script>
  {{ end }}

</body>
</html>