<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/login.css" />
  <script src="/static/scripts/login.js"></script>
</head>
<body>
  <div class="login-container">

    {{if .Content}}
      <p style="color: red;">{{.Content}}</p>
    {{end}}
    <form class="login-form" method="POST" action="/secret-admin-page-pls-dont-hack-me">
      <h2>Definitely not an admin login</h2>
      <h6> pls  don't break my site : ) </h6>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password</label>
      <div class="password-wrapper">
        <input type="password" id="password" name="password" />
        <button type="button" class="eye-btn"
                onmousedown="showPassword()" 
                onmouseup="hidePassword()" 
                onmouseleave="hidePassword()">
          <img id="eye-icon" src="/static/svgs/eye-closed.svg">
        </button>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>